/*Index*/

.indexContainer {
    height: 100vh;
    width: 100vw;
    background-image: url(/individualProject/assets/images/backgroundImage.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    filter:grayscale(0.5);
    text-align: center;
    color: white;
    font-family: 'Amatic SC', sans-serif;
}

.indexH1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 500;
}

.indexH3 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.link {
    color: white;
}

/*Index responsive*/
@media screen and (max-width: 1100px) {
    .indexH1 {
        top: 40%;
        font-size: 80px;
    }
    .indexH3 {
        top: 60%;
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .indexH1 {
        top: 40%;
        font-size: 50px;
    }
    .indexH3 {
        top: 60%;
        font-size: 30px;
    }
}

/*About*/
/*Navbar*/
.nav-item {
    margin-left: 20px;
}

/*About Intro*/
.introSection {
    padding-top: 25px;
    padding-bottom: 40px;
}

.myPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 30px;
    filter: grayscale(1)
}

.introContainer {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.tagContainer {
    margin-top: 70px;
    font-family: 'Agbalumo';
    text-align: center;
}

.aboutH1 {
    font-size: 100px;
}

.tagContainer2 {
    margin-top: 25px;
    font-family: 'Agbalumo';
    text-align: center;
    margin-bottom: 70px;
}

/*About Biography*/

.biographySection {
    background-color: rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 40px;
}

.biographyContainer {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
}

.biographyH4 {
    color: white;
    text-decoration: underline;
}

.biographyPContainer {
    margin-top: 40px;
}

.biographyP {
    margin-top: -15px;
    color: grey;
}

/*About Why Web Development*/

.whyWebDevelopmentSection {
    padding-top: 30px;
    padding-bottom: 40px;
}

.whyWebDevelopmentContainer {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
}

.whyWebDevelopmentH4 {
    text-decoration: underline;
}

.whyWebDevelopmentPContainer {
    margin-top: 40px;
}

.whyWebDevelopmentP {
    color: grey;
}

/*About Goal*/

.goalSection {
    background-color: rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 40px;
}

.goalContainer {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
}

.goalH4 {
    color: white;
    text-decoration: underline;
}

.goalPContainer {
    margin-top: 40px;
}

.goalP {
    margin-top: -15px;
    color: grey;
}

/*About Contact Icon*/
.rowContactIconSection {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

hr {
    border: 2px solid black;
    width: 50px;
    margin-left: 48%;
}

.rowContactIcons {
    margin-right: 10px;
}

a {
    color: black;
    text-decoration: none;
}

/*Footer*/
.footer {
    margin-top: 20px;
    background-color: rgb(31, 31, 31);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 50px;
    color: grey;
    display: flex;
}

.footerTitle {
    color: white;
}

.footerItem {
    color: grey;
    font-size: 13px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    text-align: right;
}

/*About responsive*/
@media screen and (max-width: 1100px) {
    .biographyContainer, .whyWebDevelopmentContainer, .goalContainer {
        margin-left: 20%;
        margin-right: 20%;
    }
    /*footer*/
    .footer {
        padding-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    .myPhoto {
        width: 70%;
    }

    .introContainer h5 {
        font-size: 18px;
    }

    .aboutH1 {
        font-size: 70px;
    }

    .biographyP, .whyWebDevelopmentP, .goalP {
        font-size: 15px;
    }

    hr {
        margin-left: 42%;
    }

    /*footer*/
    .copyright {
        padding-right: 20px;
        font-size: 15px;
    }
}

/*Portfolio*/
.portfolioSection {
    height: 70vh;
}

.portfolioPromptContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-align: center;
}

.portfolioContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.portfolioImgContainer {
    position: relative;
}

.portfolioImg {
    width: 100%;
    height: auto;
}

/*Portfolio overlay*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    background-color: rgb(168, 168, 168);
    height: 100%;
    width: 100%;
    opacity: 0;
}

.portfolioImgContainer:hover .overlay {
    opacity: 1;
}

.overlayTextTitle {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlayText {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Portfolio responsive*/
@media screen and (max-width: 1000px) {
    .portfolioSection {
        height: auto;
    }
}

/*Portfolio Random Quote*/

.randomQuoteContainer {
    height: 100vh;
    width: 100vw;
    background-image: url(/individualProject/assets/images/backgroundImage.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    filter:grayscale(0.5);
    text-align: center;
    color: white;
    font-family: 'Caveat';
}

.randomQuoteH1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 500;
}

/*Random quote responsive*/
@media screen and (max-width: 1100px) {
    .randomQuoteH1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .randomQuoteH1 {
        font-size: 40px;
    }
}

/*Portfolio Champion*/
.championContainer {
    background-color: rgb(31, 31, 31);
    text-align: center;
    padding-top: 20px;
    color: white;
}

.championContainer h1, .championContainer h4 {
    font-family: 'Caveat';
}

.championImgContainer {
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
}

.championImg {
    width: 70%;
}

.selectAgainBtn {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid black;
    font-weight: bold;
}

/*Portfolio Calculator*/
.calculatorSection {
    height: 100vh;
    width: 100vw;
    background-color: rgb(31, 31, 31);
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Caveat';
}

.calculatorContainer {
    background-color: grey;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
    padding: 20px;
    font-family: 'Orbitron';
    max-width: 300px;
    min-width: 300px !important;
}

.calculatorScreen {
    background-color: white;
    color: black;
    text-align: end;
    padding-right: 10px;
    margin: 10px;
}

.calculatorBtns {
    padding-top: 20px;
}

.calculatorBtn, .calculatorOperatorBtn, .calculatorACBtn {
    height: 60px;
    width: 60px;
}

.calculatorEqualBtn {
    height: 60px;
    width: 254px;
}

/*Calculator responsive*/

@media screen and (max-width: 600px) {
    .calculatorContainer {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/*Contact*/

.contactContainer {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 20%;
    height: 70vh;
}

.contactIconContainer {
    display: flex;
    flex-direction: column;
}

.verticalLine {
    border-right: 3px solid grey;
    height: 130px;
}

.contactIcons {
    margin-top: 12px;
    margin-bottom: 30px;
}

/*Contact responsive*/
@media screen and (max-width: 1100px) {
    .contactContainer {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 600px) {
    .contactContainer {
        margin-left: 5%;
        margin-right: 5%;
    }
}